{% extends 'base.html.twig' %}

{% block title %}Edit Dispo{% endblock %}

{% block body %}
<div class="container mt-5">

    <h1 class="text-center">Modification</h1>

    <a href="{{ path('app_dispo_index') }}" class="btn btn-primary mb-2">Retour</a>
    {{ include('dispo/_form.html.twig', {'button_label': 'Modifier'}) }}


    {{ include('dispo/_delete_form.html.twig') }}
    
</div>    
{% endblock %}
