<div class="card text-center">
  <div class="card-header">
    LOCAVEHICULE
  </div>
  <div class="card-body">
    <h5 class="card-title">Lorem ipsum dolor sit amet</h5>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
  </div>
  <div class="card-footer text-body-secondary">
    Tout droit réservé
  </div>
</div>